<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <title>LeafsFans HQ</title>
</head>
<body>

    {{!-- <h1>LeafsWatch HQ</h1> --}}
<a href="/" class="custom-image-link">
    <img src="/images/leafsfans.png" alt="" class="custom-hover-transform mobile-logo">
</a>
<nav class="navbar navbar-expand bg-body-tertiary">
  <div class="container-fluid">
    {{!-- <a class="navbar-brand" href="#">Navbar</a> --}}
    <div class="navbar-nav ">
      {{#if logged_in}}
        <ul class="navbar-nav ">
          <li class="nav-item custom-button" style="margin-right: 30px;"><a class="nav-link" href="/new-blog">Create New Blog!</a></li>
          <li class="nav-item custom-button" style="margin-right: 30px;"><a class="nav-link" href="/profile">Profile</a></li>
          <li class="nav-item custom-button" id="logout" style="margin-right: 30px;"><a class="nav-link" href="/logout">Logout</a></li>
        </ul>
      {{else}}
        <a href="/login" class="btn btn-primary">Sign In/Sign Up</a>
      {{/if}}
    </div>
  </div>
</nav>

    {{{body}}}
   

 {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>