<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>LeafsWatch HQ</title>
</head>
<body>

    <h1>LeafsWatch HQ</h1>
<a href="/">Home</a>

    {{#if logged_in}}
        <a href="/profile">profile</a>
        <a href="/logout">logout</a>
        <a href="/new-blog" >create new!</a>
    
    {{else}}
        <a href="/login">Sign In/Sign Up</a>
    {{/if}}

    {{{body}}}
   


</body>
</html>