body {
    background-image: url('/images/marner.jpeg');
    background-size: cover;
    height: 100vh;
}
   
/* Define a class to remove default link highlighting */
.no-link-highlight {
    /* text-decoration: none; Remove underline */
    color: #0D44C2; /* Use the default text color */
   
}

/* Apply the class to your anchor tags where you want to remove highlighting */
a.no-link-highlight:hover {
    text-decoration: none; /* Remove underline on hover if needed */
    color: grey; /* Use the default text color on hover if needed */
    
}    

.card-date {
    font-size: 0.8rem;
    color: #6c757d;
}

